.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item + .item {
  margin-top: 0.2rem;
}

.close {
  position: absolute;
  top: 1.07125rem;
  right: 0.75rem;
}

.container {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
  background: linear-gradient($theme-palette-secondary, $theme-palette-primary);

  &:target {
    display: flex;
  }
}

@media (min-width: $theme-breakpoints-mobile) {
  .container {
    position: static;
    display: block;
    width: auto;
    height: auto;
    background: transparent;
  }
}

@media (max-width: $theme-breakpoints-mobile) {
  .hide-on-mobile {
    display: none;
  }
}
