.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 1.25rem;
  z-index: 1000;
  background-color: $theme-palette-secondary;

  @media (min-width: $theme-breakpoints-mobile) {
    position: initial;
    flex-direction: column;
    align-items: flex-start;
    margin: 3.25rem 0 0 3.125rem;
    padding: 0;
    background-color: transparent;
  }
  @media (max-width: $theme-breakpoints-mobile) {
    &.-hide-on-mobile {
      display: none;
    }
  }
}

.content {
  margin-top: 4rem;

  @media (min-width: $theme-breakpoints-mobile) {
    margin-top: 0;
  }

  @media (max-width: $theme-breakpoints-mobile) {
    &.-remove-spacing {
      margin-top: 0;
    }
  }
}

.desktop-logo {
  display: none;

  @media (min-width: $theme-breakpoints-mobile) {
    display: block;
    margin-bottom: 2rem;
  }
}

.mobile-logo {
  @media (min-width: $theme-breakpoints-mobile) {
    display: none;
  }
}

.title {
  display: none;

  @media (min-width: $theme-breakpoints-mobile) {
    margin: 3.25rem 5rem 2.5rem;
    white-space: nowrap;
    text-transform: lowercase;
    font-size: 7.6675rem;
    color: $theme-palette-generics-black;
    opacity: 0.2;
    font-weight: normal;
    display: block;
  }
}

.title-mobile {
  margin: 0 1rem;
  font-size: 1.125rem;
  font-weight: lighter;
  text-transform: uppercase;
  flex-grow: 1;
  color: $theme-palette-text;

  @media (min-width: $theme-breakpoints-mobile) {
    display: none;
  }
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;

  @media (min-width: $theme-breakpoints-mobile) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media (max-width: $theme-breakpoints-mobile) {
    &.-hide-on-mobile {
      display: none;
    }
  }
}

.contact-container {
  align-self: stretch;
  display: flex;
  margin: 2.5rem 1.875rem 1rem 0.5rem;

  .newsletter-form {
    display: none;
    margin-right: 1rem;
  }

  @media (min-width: $theme-breakpoints-mobile) {
    margin: 1.5rem 0;
    padding-left: 3.125rem;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;

    .newsletter-form {
      display: block;
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }
}

.cta-button {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 900;

  @media (min-width: $theme-breakpoints-mobile) {
    position: initial;
  }
}
