.section {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0 3.125rem;
  width: 100%;
}

.left {
  width: 14.676875rem;
}

.logoContainer {
  padding-top: 3.25rem;
}

.logo {
  width: auto;
  height: 9rem;
}

.title {
  text-transform: lowercase;
  font-size: 7.6675rem;
  color: $theme-palette-sectionTitle;
  opacity: 0.1;
  font-weight: normal;
}
