.container {
  width: auto;
  margin-top: 0;

  .title,
  .text {
    margin: 0;
  }

  .title {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: $secondary;
    font-weight: normal;
    line-height: 1.125rem;

    br {
      line-height: 1.125rem;
    }
  }

  .text {
    color: $primary;
    font-size: 1.375rem;
    line-height: 1.71375rem;
  }
}

.success {
  margin: 0 auto;
  width: auto;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 0.5625rem;

  .button {
    margin-top: 0.5625rem;
    align-self: flex-start;
  }
}
