$mobile-breakpoint: 45rem;

.container {
  width: 19.188125rem;
  &.-no-margin {
    @media (max-width: $mobile-breakpoint) {
      margin-top: 0;
    }
  }
  .title,
  .text {
    margin: 0;
  }
  .title {
    text-transform: uppercase;
    color: $secondary;
    font-weight: normal;
  }
  .text {
    color: $primary;
    margin-top: 1.6875rem;
  }
  @media (min-width: $mobile-breakpoint) {
    .title,
    .text {
      font-size: 1.625rem;
      line-height: 1.96375rem;
    }
  }
  @media (max-width: $mobile-breakpoint) {
    width: auto;
    margin-top: 1.5275rem;
    .title,
    .text {
      font-size: 1.375rem;
      line-height: 1.71375rem;
    }
  }
}

.success {
  margin: 0 auto;
  @media (max-width: $mobile-breakpoint) {
    width: auto;
  }

  @media (min-width: $mobile-breakpoint) {
    width: 14.6875rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  .button {
    margin-top: 0.5rem;
    align-self: flex-end;
  }
  @media (max-width: $mobile-breakpoint) {
    margin-top: 1rem;
  }

  @media (min-width: $mobile-breakpoint) {
    margin-top: 2.1875rem;
  }
}
