.teaser {
  margin: 0;
  width: 33rem;
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 400;
  color: rgb(0, 0, 0);

  strong {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 400;
    color: $secondary;
  }

  &.-hideOnMobile {
    @media (max-width: $theme-breakpoints-mobile) {
      display: none;
    }
  }
}
