.section {
  display: flex;
  flex-direction: column;
}

.review-container {
  max-width: 51.0625rem;
}

@media (min-width: $theme-breakpoints-mobile) {
  .section {
    align-items: flex-start;
  }
  .review-container {
    margin-left: 5rem;
  }
}
