.section {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  width: 100%;
  position: relative;
}

.title {
  font-size: 3.75rem;
  font-weight: bold;
  margin: 0;
}

.text {
  color: $theme-palette-generics-black;
  margin: 0;
}

.button {
  display: inline-block;
  text-decoration: none;
  line-height: 4.25rem;
  font-weight: normal;
}

@media (min-width: $theme-breakpoints-mobile) {
  .section {
    align-items: flex-start;
  }
  .container {
    margin-left: 5rem;
    flex-direction: row;
    justify-content: space-between;
    max-width: 50.95rem;
  }
  .title {
    color: $theme-palette-secondary;
    position: absolute;
    top: 0;
    right: 0;
  }
  .text-container {
    text-align: right;
    padding-top: 5.6875rem;
  }
  .text {
    font-size: 1.5rem;
    padding-bottom: 2.375rem;
  }
  .button {
    margin-top: 0.9375rem;
    max-width: 15.75rem;
  }
}

@media (max-width: $theme-breakpoints-mobile) {
  .container {
    flex-direction: column;
    z-index: 1;
    &::after {
      content: '';
      background-color: $theme-palette-secondary;
      height: 12.6875rem;
      box-shadow: 0 0.625rem 1.875rem transparentize($theme-palette-generics-black, 0.54);
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
    }
  }
  .image-container {
    text-align: center;
  }
  .image {
    height: 18.5rem;
  }
  .title {
    color: $theme-palette-text;
    font-size: 2.5rem;
    text-align: center;
    padding: 1.6875rem 0 1rem 0;
  }
  .text-container {
    padding-top: 0.625rem;
    width: 100%;
    max-width: 15.75rem;
    margin: 0 auto;
    text-align: center;
  }
  .text {
    font-size: 1.125rem;
    padding-bottom: 1.75rem;
  }
  .button {
    margin-top: 0.6875rem;
  }
}
