// layout
.top-section {
  margin-right: 5.3125rem;
  margin-bottom: 3.5rem;
}

.middle-section {
  // using pixels on this one because the image is a png
  height: 298px;
  width: 788px;
  margin-bottom: 3.5rem;
  padding-left: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('assets/images/banner-background.png');

  .date {
    margin: 0;
    font-size: 3.75rem;
    line-height: 4rem;
    color: $theme-palette-base;
  }

  .venue {
    margin: 1.5rem 0 0;
    font-size: 2.1875rem;
    line-height: 2.5rem;
    color: $theme-palette-base;
    opacity: 0.75;
  }
}

.bottom-section {
  margin-right: 5.3125rem;
  margin-bottom: 2.5rem;
}
