// utils
.hidden-lg {
  @media (min-width: $theme-breakpoints-mobile) {
    display: none;
  }
}

.visible-xs {
  @media (max-width: $theme-breakpoints-mobile) {
    display: block;
  }
}

.hidden-xs {
  @media (max-width: $theme-breakpoints-mobile) {
    display: none;
  }
}

// layout
.root {
  width: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $theme-breakpoints-mobile) {
    background-image: url('assets/images/background.svg');
    background-size: cover;
    background-position: center;
  }
}

.top-section {
  display: flex;

  .main-logo {
    width: auto;
    height: 9rem;
  }

  @media (min-width: $theme-breakpoints-mobile) {
    align-self: flex-start;
    margin-top: 3.4375rem;
    margin-left: 3.4375rem;
    align-items: flex-end;
  }

  @media (max-width: $theme-breakpoints-mobile) {
    margin-top: 3.125rem;
  }
}

.middle-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .middle-content {
    margin: 0 0.25rem;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $theme-breakpoints-mobile) {
    margin-top: 1.5625rem;

    .middle-content {
      padding-right: 2.4375rem;
    }
  }

  @media (min-width: $theme-breakpoints-mobile) {
    margin-top: 3.4375rem;
    max-width: 26.5625rem;
  }
}

.bottom-section {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  .social-media-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.9375rem;
  }

  @media (min-width: $theme-breakpoints-mobile) {
    margin-top: 3.4375rem;
    margin-right: 2.1875rem;
    .social-media-container {
      margin-bottom: 1.1875rem;
    }
  }

  @media (max-width: $theme-breakpoints-mobile) {
    margin-top: 2.5rem;
    .social-media-container {
      margin-bottom: 1.1875rem;
    }
  }
}

.bracket-container {
  flex-shrink: 0;
  &:first-child {
    @media (max-width: $theme-breakpoints-mobile) {
      padding-left: 2.4375rem;
    }
  }

  .bracket {
    width: 3.4375rem;
  }

  .small-bracket {
    width: 2rem;
  }

  .bracket-right {
    transform: rotate(180deg);
  }
}

.social-media {
  display: flex;

  .text-social-media {
    width: 15rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $secondary;
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .icon {
    color: $primary;

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  .icon + .icon {
    margin-left: 2.5rem;
  }

  @media (min-width: $theme-breakpoints-mobile) {
    flex-direction: row;
    align-items: center;
  }

  @media (max-width: $theme-breakpoints-mobile) {
    margin-right: 1.125rem;
    flex-direction: column;
    align-items: flex-end;

    .text-social-media {
      text-align: right;
      font-size: 1rem;
      width: 8.76rem;
      line-height: 1.1875rem;
      font-weight: normal;
    }

    .icons {
      margin-top: 0.812rem;
      img {
        height: 1.5rem;
      }
    }

    .icon + .icon {
      margin-left: 1.2875rem;
    }
  }
}
