.section {
  display: flex;
  flex-direction: column;

  @media (min-width: $theme-breakpoints-mobile) {
    margin-bottom: 1.5rem;
  }
}

.grid {
  align-self: center;
  margin: 1rem 0 0;
  width: 12.5rem;

  @media (min-width: $theme-breakpoints-potato) {
    width: 25.4rem;
  }

  @media (min-width: $theme-breakpoints-mobile) {
    width: 100%;
    align-self: flex-start;
    margin: 0 0 0 5rem;
    max-width: 52rem;
  }

  @media (min-width: $theme-breakpoints-smallScreen) {
    max-width: 77rem;
  }
}
