.container {
  width: 30.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.missing {
  margin: 0 0 0.75rem;
  opacity: 0.3;
  color: $theme-palette-generics-black;
  font-size: 1.625rem;
  text-transform: uppercase;
}

.countdown {
  margin: 0 0 0.25rem;
  opacity: 0.5;
  color: $theme-palette-primary;
  font-size: 4.25rem;
  line-height: 2.5rem;
  font-weight: 300;
  margin-left: -0.25rem;
}

.door-opening {
  margin: 0;
  opacity: 0.5;
  color: $theme-palette-secondary;
  font-size: 1.375rem;
  line-height: 2rem;
  text-transform: uppercase;
}
