.title {
  color: $theme-palette-primary;
  margin: 0;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  span {
    padding: 0 0.625rem;
  }
  &::before,
  &::after {
    content: '';
    border-bottom: 0.0625rem solid $theme-palette-sponsorsTitle;
    flex-grow: 1;
    margin-bottom: 0.6875rem;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: $theme-breakpoints-mobile) {
  .list {
    &.-gold {
      flex-direction: column;
    }
    &.-silver,
    &.-bronze {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-top: 2.5rem;
    }
  }
  .list.-gold .item {
    padding: 1.5rem 0;
    &:first-child {
      padding-top: 2.5rem;
    }
    &:last-child {
      padding-bottom: 2.5rem;
    }
  }
  .list.-silver {
    padding-bottom: 2.5rem;
    .item {
      height: 7.1875rem;
    }
  }
  .list.-bronze {
    width: 80%;
    padding-bottom: 2.5rem;
    align-self: center;
    .item {
      height: 5.375rem;
    }
  }
  .container.-bronze {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: $theme-breakpoints-mobile) {
  .list {
    flex-direction: column;
    padding: 1.25rem 0;
  }
  .item {
    padding: 1.25rem 0;
  }
}
